.relative {
    position: relative;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.desc {
    position: relative;
    padding: 8px 8px 8px 15px;
    color: $gray-5;
    background-color: $light-green;

    &::before {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        content: '';
        background-color: $primary;
    }
}