/*
* @description 基于antd 颜色算法
*/

// 中性色 基于e8e8e8
$white: #ffffff !default;
$gray-2:#f5f5f5 !default;
$gray-3:#e8e8e8 !default;
$gray-4:#c2c2c2 !default;
$gray-5:#9c9c9c !default;
$gray-6:#757575 !default;
$gray-7:#4f4f4f !default;
$black:#000000 !default;


// 基础色
$color-1:#e4f2e7 !default;
$color-2:#d8e6dc !default;
$color-3:#a9d9b8 !default;
$color-4:#7ecc9a !default;
$color-5:#58bf80 !default;
$color-6:#35b369 !default;
$color-7:#238c52 !default;
$color-8:#14663c !default;
$color-9:#0a4026 !default;
$color-10:#041a10 !default;


// 自然色系
$blue: blue !default;
$yellow: yellow !default;
$red: red !default;
$green: green !default;


// 产品
$primary: $color-6 !default;
$secondary: $gray-3 !default;

// 功能
$success: $color-7 !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-1 !default;
$dark: $gray-7 !default;

// 字色
$fontColor: #33433d;
$fontGray: rgba(0, 0, 0, 0.56);